body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H0MA-uKSipsekm5s/abstract-white-cargo-train-with-freight-carriages-moving-on-the-railroad-on-simple-background-low-angle-view-minimalistic-3d-animation_swjkujnu__F0005.png");
    background-repeat: no repeat;
    background-size: cover;
    background-position: center center;
    height:100vh
}

.top-box {
    background: rgba(255, 248, 220, 0)
}

.top-box::after {
    background-image: url("http://www.unmissablejapan.com/underground/journeys-below-ground-images/tokyo-subway-map.gif");
    background-repeat: no repeat;
    background-size: cover;
    background-position: center center;
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.content-box {
    opacity: 0.9;
}

.text {
    font-family: 'Kenia', cursive;
    font: bold;

}